.global {
    margin : 0 auto;
    max-width: 1000px;
 }
 
 .hero{
     min-height: 100vh;
     background-image: url("images/maldives.jpg");

&__contenu {
   display: flex;
   flex-flow: column nowrap;
   justify-content: space-between;
   height: auto;
   align-items: flex-start;
   padding-right: 50px;
    padding-left: 50px;
}

&__titre {
    margin: 13px;
    font-size: 3rem;
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

&__descripton {
    margin: 10px;
    font-size: 10em;
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

p {
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

&__courriel {
    margin: 10px;
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-style: normal;
    
}

&__bouton {
  margin: 10px;
  padding: 7px;
  border-radius: 10px;
  background-color: aquamarine;
  border: 2px solid rgb(39, 188, 247);
}

&__icon-apps {
    margin: 10px;
}

    }




